.app-header {
  text-align: center;
  padding: 6rem 0rem 2rem 0rem;
  color: white;
  margin: 0rem;
}

.app_background {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("../images/weater.jpeg");
  &.rainy {
    background-image: url("../images/rain.png");
  }
  &.cloudy {
    background-image: url("../images/cloudy.jpeg");
  }
  &.plluted {
    background-image: url("../images/plluted.jpeg");
  }
  &.sunny {
    background-image: url("../images/sunny.jpeg");
  }
}

.cities-card-wrapper {
  padding: 0 10rem;
}

.city-card {
  grid-column: span 6 / span 6;
  height: 10rem;
  background-image: url("../images/rain.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: azure;
}
